h3 {
  margin-top: 60px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: solid 1px #ccc;
}
label {
  font-size: 16px;
}
.form-constraint {
  max-width: 600px;
}
.error-text {
  font-size: 12px;
  font-weight: bold;
  text-transform: uppercase;
}

/* ensure that spans keep their height, even
 * if no error text.  this is so that the form
 * doesn't change height while we are filling it out
 * so that the iframe height doesn't need to be changed.
 * */
.error-text:empty:before {
  content: "\200b"; /* unicode zero width space character */
}
